.wpp{
    position: relative;
    width: 50px;
    top: 180px;
    left: 600px;
    margin: auto;
    transition: all 500ms ease; 
}
.separador{
    padding-top: 60px;
}
.wpp:hover{
	transform: translateY(-25%);
}

.text{
    position: relative;
    text-align: center;
    margin: auto;
    top: 80px;
}

.orden{
   position: relative;
   text-align: center;
   margin: auto;
   top: 80px;
}

.lema{
    position: relative;
    text-align: center;
    margin: auto;
    top: 80px;
}

.btn1{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    border-radius: 14px;
    border:none;
    background-color: yellowgreen;
    bottom: 20px;
}

.btn1:hover{
    background-color: #a8a834;
}

.lg{
    margin: auto;
}

.dl{
    position: relative;
    width: 110px;
    height: 95px;
    top: 215px;
}

.footer_pickup{
    margin-top: 300px;
}